<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Eric Barone Fan Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="link-btn" href="/home-page">Home</a></li>
        <li><a class="link-btn" href="/about">About</a></li>
        <li><a class="link-btn" href="/works">Works</a></li>
        <li><a class="link-btn" href="/photos">Photos</a></li>
      </ul>
    </nav>
    <section id="main-section">
      <h1>Biography</h1>
      <h3>(Sourced from Wikipedia)</h3>
      <span
        >Eric Barone, also known by his alias ConcernedApe, is an American video
        game developer, video game designer, artist, composer, and musician. He
        is best known for creating
        <a href="https://en.wikipedia.org/wiki/Stardew_Valley">Stardew Valley</a
        >.</span
      >
      <br />
      <br />
      <span
        >He moved to Seattle at a young age and lives there to this day. Barone
        grew up loving video games and computers. He cites the
        <a href="https://en.wikipedia.org/wiki/Story_of_Seasons"
          >Harvest Moon</a
        >
        series as his favorite as a child. He attended the University of
        Washington Tacoma and graduated in 2011 with a degree in computer
        science.</span
      >
      <br />
      <br />
      <span
        >Barone began working on Stardew Valley in 2012 and released it in 2016.
        He was praised for creating the game independently, doing everything
        from designing the characters, animating, writing the dialogue, and
        creating the music. In 2017, he was named by Forbes magazine in their
        list "30 Under 30: Games" due to his work on Stardew Valley. Since 2019,
        Barone has been assisted on Stardew Valley by another designer.</span
      >
      <br />
      <br />
      <span
        >In 2020 Barone announced that he was working on several new games, with
        at least two of them set in the Stardew Valley universe. In February
        2021, Barone and board game designer Cole Meideros released a
        cooperative board game adaptation of Stardew Valley. In October 2021,
        Barone announced that a new game titled Haunted Chocolatier was in
        development, with no set release date. In the game, the player will run
        a chocolate shop. It will have a greater focus on combat than in Stardew
        Valley. On the official website, Barone says that "almost everything in
        Haunted Chocolatier, including the combat, is completely coded (and
        drawn) from scratch."</span
      >
    </section>
  </body>
</html>
