<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Eric Barone Fan Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="link-btn" href="/home-page">Home</a></li>
        <li><a class="link-btn" href="/about">About</a></li>
        <li><a class="link-btn" href="/works">Works</a></li>
        <li><a class="link-btn" href="/photos">Photos</a></li>
      </ul>
    </nav>
    <section id="main-section">
      <h1>Welcome to the Eric Barone fan page!</h1>
      <h2>
        Here you'll find everything you need to know about this brilliant
        person.
      </h2>
      <img src="ericmain.jpg" id="main-photo" alt="picture of eric barone" />
    </section>
  </body>
</html>
