<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photos - Eric Barone Fan Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="link-btn" href="/home-page">Home</a></li>
        <li><a class="link-btn" href="/about">About</a></li>
        <li><a class="link-btn" href="/works">Works</a></li>
        <li><a class="link-btn" href="/photos">Photos</a></li>
      </ul>
    </nav>
    <section id="main-section">
      <h1>Photos</h1>
      <h3>Eric "ConcernedApe" Barone</h3>
      <div id="photos">
        <img src="eric2.jpg" alt="Eric Barone" />
        <img src="eric3.jpg" alt="Eric Barone" />
      </div>
      <h3>Stardew Valley</h3>
      <div id="photos">
        <img src="sv-screenshot.png" alt="Stardew Valley screenshot" />
        <img src="sv-screenshot2.jpg" alt="Stardew Valley screenshot" />
        <img src="sv-screenshot4.png" alt="Stardew Valley screenshot" />
        <img src="sv-screenshot3.png" alt="Stardew Valley screenshot" />
        <img src="sv-screenshot6.png" alt="Stardew Valley screenshot" />
        <img src="sv-screenshot5.jpg" alt="Stardew Valley screenshot" />
      </div>
    </section>
  </body>
</html>
