<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works - Eric Barone Fan Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="link-btn" href="/home-page">Home</a></li>
        <li><a class="link-btn" href="/about">About</a></li>
        <li><a class="link-btn" href="/works">Works</a></li>
        <li><a class="link-btn" href="/photos">Photos</a></li>
      </ul>
    </nav>
    <section id="main-section">
      <h1>Works</h1>
      <h2>Stardew Valley</h2>
      <h3>(Sourced from Wikipedia)</h3>
      <span
        >Stardew Valley is a simulation role-playing video game developed by
        Eric "ConcernedApe" Barone. Players take the role of a character who
        takes over their deceased grandfather's dilapidated farm in a place
        known as Stardew Valley. The game was released for Windows in February
        2016 before being ported to several other computer, console, and mobile
        platforms.
        <br />
        <br />
        Stardew Valley is open-ended, allowing players to take on activities
        such as growing crops, raising livestock, fishing, cooking, mining and
        foraging, and socializing with the townspeople, including the ability to
        marry and have children. It also allows up to four players to play
        online together.
        <br />
        <br />
        <img
          src="sv-screenshot1.png"
          alt="Stardew Valley screenshot"
          style="width: 22%"
        />
        <br />
        <br />
        Barone developed Stardew Valley by himself over four years. He was
        heavily inspired by the Harvest Moon series, with additions to address
        some of the shortcomings of those games. He used it as an exercise to
        improve his own programming and game design skills. British studio
        Chucklefish approached Barone midway through development with the offer
        to publish the game, allowing him to focus more on completing it.
        <br />
        <br />
        Stardew Valley was praised by critics, who highlighted the game's music,
        characters, and relaxing qualities, with it later being cited as one of
        the greatest video games of all time. Yasuhiro Wada, the creator of
        Harvest Moon, also praised the game for retaining the freedom that later
        entries of his series had lost. The game was also a commercial success,
        selling over 20 million copies by 2022.</span
      >
    </section>
  </body>
</html>
